@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --light-red: hsl(0, 100%, 67%);
    --light-grey: hsl(0 0% 80%);
}
@keyframes pan {
    0% {
        background-position: 0 7%;
    }
    100% {
        background-position: 100% 7%;
    }
}

.app {
    position: relative;
    margin: 0;
}
.star-container {
    height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px hsl(0, 0%, 10%);
    z-index: 1;
    background-color: hsl(0, 0%, 10%);
}
.stars {
    background-image: url("/public/assets/star-pattern.svg");
    background-size: 10%;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    animation: pan 60s linear infinite;
    z-index: 0;
}
.title-container {
    text-align: center;
}
.title {
    font-family: 'Lato', sans-serif;
    color: var(--light-red);
    line-height: 1.2;
    font-size: clamp(2.5rem, 9vw, 7rem);
    text-shadow: 1px 1px 2px hsl(0, 0%, 10%);
    margin: 0;
}
.subtitle {
    font-family: 'Lato', sans-serif;
    color: var(--light-grey);
    opacity: 0.5;
    line-height: 1.2;
    font-size: clamp(1rem, 3.5vw, 2rem);
    text-shadow: 1px 1px 2px hsl(0, 0%, 10%);
    margin: 0;
}
.profile-container {
    display: flex;
    flex-wrap: wrap;
    padding: min(3rem, 5%);
    gap: 1rem;
    row-gap: 2rem;
    align-items: stretch;
}
.card-container {
    flex: 1 1 600px;
    display: flex;
    align-items: stretch;
    gap: 0.1rem;
}
.card-title {
    position: absolute;
    font-family: 'Lato', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: clamp(0.5rem, 2vw, 2rem);
    margin: 0;
    padding: 0 0.5rem 0.15rem;
    translate: min(2rem, 5vw) max(-1.7vw, -1.3rem);
    background-color: hsl(0, 0%, 12%);
    border-radius: 5px;
    border: 2px hsl(0, 0%, 8%) solid;
    box-shadow: 1px 1px 2px hsl(0, 0%, 5%);
    z-index: 1;
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 0 0.5rem;
    padding: 0 1rem;
}
.divider-line {
    flex: 1;
    padding-top: 0.25rem;
    border-bottom: 2px hsl(0, 0%,  10%) solid;
}
.divider-text {
    font-family: 'Lato', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
    margin: 0;
}