.current-project-card {
    flex: 1 1 400px;
    min-height: 135px;
    display: flex;
    align-items: stretch;
    background-color: hsl(0, 0%, 12%);
    box-shadow: 3px 3px 5px hsl(0, 0%, 10%);
    border-radius: 15px;
    border: 2px hsl(0, 0%, 8%) solid;
    overflow: hidden;
    position: relative;
    padding-left: min(18rem, 27vw);
}
.current-project-image {
    width: min(18rem, 27vw);
    height: 100%;
    border-right: 2px hsl(0, 0%, 8%) solid;
    box-shadow: 1px 0 0 2px hsl(0, 0%, 10%);
    object-fit: cover;
    object-position: top;
    display: block;
    position: absolute;
    inset: 0 auto 0 0;
}
.current-project-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
}
.current-project-title {
    flex: 0 0 auto;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: var(--font-regular);
    color: var(--light-red);
    font-size: var(--profile-title-size);
    text-shadow: 1px 1px 2px hsl(0, 0%, 10%);
    margin-bottom: 0;
    margin-top: 0;
}
.current-project-description {
    flex: 1;
    font-family: 'Lato', sans-serif;
    font-weight: var(--font-light);
    color: var(--light-grey);
    font-size: var(--profile-description-size);
    margin-bottom: min(0.5rem, 5%);
    margin-top: 0;
}